<template>
    <Toast />
    <loading v-model:active="loading"
                 :is-full-page="true"/>
    <div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
            <div class="col-12 xl:col-6"
                style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color), rgba(33, 150, 243, 0) 30%);">
                <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px;">
                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-medium mb-3">Room Manager</div>
                        <span class="text-600 font-medium">Faça o login para continuar</span>
                    </div>

                    <div class="w-full md:w-10 mx-auto">
                        <div class="field">
                            <label for="username" class="block text-900 text-xl font-medium mb-2">Usuário</label>
                            <InputText id="username" data-test="input-username" v-model="email" type="text"
                                class="w-full mb-3" :class="{'p-invalid': v$.email.$error}" placeholder="Email"
                                style="padding:1rem;" />
                            <small v-if="v$.email.$error" data-test="small-validation-error" id="username2-help" class="p-invalid">Campo
                                obrigatório.</small>
                        </div>
                        <div class="field error">
                            <label for="password1" class="block text-900 font-medium text-xl mb-2">Senha</label>
                            <Password id="password1" v-model="password" placeholder="Password" :toggleMask="true"
                                class="w-full mb-3" :class="{'p-invalid': v$.password.$error}" inputClass="w-full"
                                inputStyle="padding:1rem"></Password>
                            <small id="username2-help" data-test="small-validation-error" v-if="v$.password.$error" class="p-invalid">Campo
                                obrigatório.</small>
                        </div>
                        <div class="flex align-items-center justify-content-between mb-5">
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)">Forgot password?</a>
                        </div>
                        <Button label="Sign In" data-test="button-login" @click="performLogin()" class="w-full p-3 text-xl"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import authService from '../../service/auth.service';
import useVuelidate from '@vuelidate/core';
import { required } from '@vuelidate/validators';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    setup() {
        return { v$: useVuelidate() }
    },
    components: {
        Loading,
    },
    data() {
        return {
            email: '',
            password: '',
            checked: false,
            loading: false,
        }
    },
    methods: {
        performLogin() {
            this.v$.$validate();

            if (this.v$.$error) {
                console.log('Erro de validação');
                return;
            }
            this.loading = true;
            authService.login(this.email, this.password)
                .then((response) => {
                    if (response) {
                        this.$router.push('/');
                    } else {
                        this.$toast.add(
                            {
                                severity: 'error',
                                summary: 'Login ou senha inválida',
                                detail: 'Falha no login',
                                life: 3000
                            });
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        }
    },
    computed: {
        logoColor() {
            if (this.$appState.darkTheme) return 'white';
            return 'dark';
        }
    },
    validations() {
        return {
            email: { required },
            password: { required },
        }
    }
}
</script>

<style scoped>
.pi-eye {
    transform: scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
}
</style>